{% extends 'main/base.html' %}
{% load static %}

{% block active_item_about %}
active
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}


	<!-- Page Top section end -->

	<section class="pricing-section spad">
		<div class="container">
		
			<div class="row">
				
			
			</div>
		</div>
	</section>
	<!-- About Intro section -->
	<section class="feature-section spad">
		<div class="container">
			<div class="section-title">
				<p>We are pymont Tech</p>
				<h2>About Us</h2>
			</div>
			<div class="row m-4">
				<div class="col-lg-6">
					<div class="about-intro-pic">
						<img src="{% static 'img/about-intro.jpg' %}" alt="">
					</div>
				</div>
				<div class="col-lg-6 about-intro-text">
					<h3>Software that transcend generations.</h3>
					<p>We are pymont Tech and our motto is simple, to make software that transcend generations. We understand doing this is for sure not easy and thats why we are constantly planning to perfect our development processes. We train and prepare our team members ensuring that the are fully conversant with the development standards that we have adopted which are  accepted world over.</p>
					


					<hr>


				
				</div>
			</div>


			<div class="row mt-6">
			
				<div class="col-lg-6 about-intro-text">
				


					<h3>Futuristic.</h3>
					<p>The world is constantly changing and therefore the need to change with it, the future as they put it is Artificial Intelligence, Big Data and Cloud computing. This is the reason 
						we are the core of our business is Artificial Intelligence, Cloud computing and Big Data.
					</p>
					<hr>
				</div>

				<div class="col-lg-6">
					<div class="about-intro-pic">
						<img src="{% static 'img/about-intro.jpg' %}" alt="">
					</div>
				</div>
			</div>


			<div class="row m-4">
				<div class="col-lg-6">
					<div class="about-intro-pic">
						<img src="{% static 'img/about-intro.jpg' %}" alt="">
					</div>
				</div>
				<div class="col-lg-6 about-intro-text">
					<h3>Collaborations.</h3>
					<p>To deliver quality it is important that we build teams. We go out of our way to properly vet our team members so as to ensure they can deliver what on our promise to you. </p>
					
					<hr>


				
				</div>
			</div>

		</div>
	</section>
	<!-- About Intro section end -->


	







	{% endblock %}


