{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pymont Labs</title>
	<meta charset="UTF-8">
	<meta name="description" content="Pymont Tech">
	<meta name="keywords" content="Business Driven Softawre Solutions, cloud Solutions For your business.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<!-- <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" /> -->

	<!-- Google Font -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'css/animate.css' %}" />

	<style>
		h4 {
			width: 100%;
			height: 10vh;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 50px;
			font-weight: bold;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		.form {
			width: 100%;
			height: 80vh;
			display: flex;
			flex-direction: column;
		}

		.header-section {

			background:

				rgba(19, 117, 111, 0.63);

			padding: 9px 0px;

			border-bottom: 2px solid #25ae88;
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			z-index: 99;

		}


		.hs-item {

			height: 600px;
		}


		.s {

			padding-top: 10px;
			padding-bottom: 20px;

		}

		.set-bg {}

		.contact-title {

			margin-bottom: 25px;

		}

		h4 {

			width: 100%;
			height: 8vh;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 40px;
			font-weight: bold;
			padding-top: 20px;
			padding-bottom: 20px;

		}

		.page-top-section-new {

			height: 250px;
			text-align: center;
			padding-top: 150px;
			background:

				darkslategray;
			background-image: none;

		}


		.main-menu li.active a {

			background: #FFB200;

		}

		.main-menu li a {

			display: inline-block;
			font-size: 16px;
			color:

				#f5f5f5;
			position: relative;
			padding: 4px 14px;
			margin-left: 15px;
			font-weight: 500;

		}

		.site-btn.sb-c1 {

			background:

				#FFB200;

		}

		.hs-item .site-btn {

			margin-top: 15px;
			min-width: 146px;
			top: 40px;
			opacity: 0;
			position: relative;

		}

		.page-top-section h2 {

			font-size: 50px;
			color:

				#fff;
			font-weight: 600;

		}

		.hs-item h2 {

			font-size: 40px;
			color:

				#fff;
			margin-bottom: 20px;
			top: 100px;
			opacity: 0;
			position: relative;

		}

		.hs-item p {

			display: inline-block;
			background: none;
			color: 	white;
			padding: 0 15px;
			margin-bottom: 3px;
			line-height: 1.8;
			top: 60px;
			opacity: 0;
			position: relative;
			font-size: 18px;
		
		}

		h4 {

			width: 100%;
			height: 6vh;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 25px;
			font-weight: bold;
			padding-top: 10px;
			padding-bottom: 10px;
			color: 
		
			whitesmoke;
		
		}

		.section-title {

			margin-bottom: 40px;
			text-align: center;
			position: relative;
		
		}

		.mar {
			margin-bottom: 10px;
		}

		.hh {
			color: black;
			font-size: 20px;
		}

		.site-btn1 {

			display: inline-block;
			border: none;
			font-size: 16px;
			font-weight: 400;
			color: 
		
			#fff;
			min-width: 110px;
			padding: 8px 25px;
			border-radius: 0px;
			background: #556080;
			cursor: pointer;
			text-align: center;
		
		}
		.p {

			font-size: 14px;
			color: 
		
			white;
			line-height: 2;
		
		}
		.pricing-section {

			background: 
		
			darkslategray;
			
		
		}
		.spad {

			padding-top: 30px;
			padding-bottom: 46px;
		
		}
		.feature p {
			margin-bottom: 0;
		}

		.item-logo a {

			font-size: 21px;
			line-height: 46px;
			height: 46px;
			transition: color .2s;
			padding-left: 15px;
			padding-right: 15px;
		
		}


		.simple-logo {

			font-size: 30px;
			color: 
		
		white;
		
		border: 3px solid
		
			aquamarine;
			padding: 5px;
		
		}
		
		.simple-logo .t {
		
			font-size: 30px;
			color: 
		
		white;
		background: cadetblue;
		
		
			padding-top: 3px;
			padding: 3px;
			border-radius: 2px;
			margin-top: 4px;
			
			margin-left: 2px;
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
		
		}
		
		.simple-logo:hover {
		
			font-size: 30px;
			color: 
		
		white;
		
		border: 3px solid
		
			aquamarine;
			padding: 5px;
		
		}

	
	</style>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Header section -->
	<header class="header-section">
		<div class="container-fluid d-flex justify-content-center ">
			<a href="{% url 'index' %}" class="site-logo simple-logo">
				Pymont<span class="t">tech</span>
			
			</a>
			<!-- Switch button -->
			<div class="nav-switch">
				<div class="ns-bar"></div>
			</div>
			<div class="header-right">
				<ul class="main-menu">
					<li class="{% block active_item_home %}{% endblock %}"><a href="{% url 'index' %}">Home</a></li>
					<li class="{% block active_item_about %}{% endblock %}"><a href="{% url 'about_us' %}">About us</a>
					</li>
					<li class="{% block active_item_services %}{% endblock %}"><a href="{% url 'our_services' %}">
							Services</a></li>
					<li class="{% block active_item_training %}{% endblock %}"><a
							href="{% url 'training' %}">Training</a></li>
					<li class="{% block active_item_products %}{% endblock %}"><a href="{% url 'our_products' %}">
						Portifolio</a></li>
							<li class="{% block active_item_contact %}{% endblock %}"><a href="{% url 'contact' %}">Contact</a>
							</li>
		

							<!-- <li class=""><a href="/content/">
								Blog</a></li>

				

					<li class="active"><a href="/shop">
						 Shop</a></li> -->
				</ul>

			</div>
		</div>
	</header>
	<!-- Header section end -->

	{% block content %}


	{% endblock content %}

	<!-- Footer top section -->
	<section class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<div class="footer-widget about-widget">
						<!-- <img src="{% static 'img/logo.png' %}" alt=""> -->
						<p>Pymont Tech</p>
						<!-- <p>Greatness starts here. </p> -->
						<div class="social-links">
							<a href="https://facebook.com/pymont"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/pymont"><i class="fa fa-twitter"></i></a>
							<a href="https://dribble.com/pymont"><i class="fa fa-dribbble"></i></a>
							<a href="https://behance.com/pymont"><i class="fa fa-behance"></i></a>
							<a href="https://linkedin.com/pymont"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-4">
					<div class="footer-widget">
						<h5 class="fw-title">Our Services</h5>
						<ul>
							<li><a href="#">Web Design and Development</a></li>
							<li><a href="#">Software Development</a></li>
							<li><a href="#">Networking</a></li>
							<li><a href="#">Training</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-4">
					<div class="footer-widget">
						<h5 class="fw-title">Training</h5>
						<ul>
							<li><a href="">Personal Training</a></li>
							<li><a href="">Corporate Training</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-4">
					<div class="footer-widget">
						<h5 class="fw-title">Our Products</h5>
						<ul>
							<!-- <li><a href="#">Point of sale systems</a></li>
							<li><a href="#">Enterprise Resource Planning Software</a></li>
							<li><a href="#">School Management Software</a></li>
							<li><a href="#">Rental Management Software</a></li>
							<li><a href="#">Sacco Management Software</a></li> -->
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- Footer top section end -->



	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="footer-nav">
				<ul>
					<li class="active"><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'about_us' %}">About us</a></li>
					<li><a href="{% url 'our_services' %}">Our Services</a></li>
					<li><a href="{% url 'training' %}">Training</a></li>
					<li><a href="{% url 'our_products' %}">Portifolio</a></li>

					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</div>
			<div class="copyright" style="display:none;">
				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>
						document.write(new Date().getFullYear());
					</script> All rights reserved | This template is made with <i class="fa fa-heart-o"
						aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/circle-progress.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>