
{% extends 'main/base.html' %}
{% load static %}

{% block active_item_contact %}
active
{% endblock %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<section class="pricing-section spad">
	<div class="container">
	
		<div class="row">
			
		
		</div>
	</div>
</section>

	<!-- Services section -->
	<section class="contact-section feature-section spad">
		<div class="container">
			<div class="section-title text-white">
				<p>We are pymont Tech</p>
				<h2 style="color:black; font-size:38px;">Contact Us</h2>
			</div>
			<div class="row">
				<div class="col-lg-6 contact-text">
					<h3 class="contact-title">Contact us</h3>
					<p> We love hearing from our prospective customers. Contact us and we will get back to you.</p>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="{% static 'img/contact-icons/1.png' %}" alt="">
						</div>
						<h6>Ushirika Plaza, chuka kenya</h6>
					</div>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="{% static 'img/contact-icons/2.png' %}" alt="">
						</div>
						<h6>+</h6>
					</div>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="{% static 'img/contact-icons/3.png' %}" alt="">
						</div>
						<h6>info@pymont.co.ke</h6>
					</div>
				</div>
				<div class="col-lg-6">
					<h3 class="contact-title">Get in touch</h3>
					<form class="contact-form">
						<input type="text" placeholder="Phone Number">
						<input type="email" placeholder="E-mail">
						
						<input type="text" placeholder="Subject">
						<textarea placeholder="Message"></textarea>
						<button class="site-btn sb-c1">Submit</button>
					</form>
				</div>
			</div>
		
		</div>
	</section>




	{% endblock %}
