{% extends 'main/base.html' %}
{% load static %}



{% block active_item_home %}
active
{% endblock %}
{% block extra_css %}


{% endblock extra_css %}


{% block content %}



<!-- Hero section -->
<section class="hero-section ">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" data-setbg="{% static 'img/bg.jpg' %}">
			<div class="container">
				<h2>We are all about executing ideas</h2>
				<p>Do you have an idea and don't know where to start making it happen. Let us Help!</p>
				<div class="clearfix"></div>
				<a href="{% url 'contact' %}" class="site-btn sb-c1">Get in touch</a>
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="{% static 'img/bg.jpg' %}">
			<div class="container">
				<h2>Hire Us!</h2>
				<p>That software project that you need done, delivered on time. We are the guys for you.</p>
			
				<div class="clearfix"></div>
				<a href="{% url 'contact' %}" class="site-btn sb-c1">Get in touch</a>
			</div>
		</div>

		<div class="hs-item set-bg" data-setbg="{% static 'img/bg.jpg' %}">
			<div class="container">
				<h2>Our software products catalogue</h2>
				<p>View our small but surely growing products catlogue</p>
				
				<div class="clearfix"></div>
				<a href="{% url 'our_products' %}" class="site-btn sb-c1"> More</a>
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="{% static 'img/bg.jpg' %}">
			<div class="container">
				<h2>Train with us</h2>
				<p>Join our practical programming classes to level up your skills and be ready for the industry.</p>
				<div class="clearfix"></div>
				<a href="{% url 'contact' %}" class="site-btn sb-c1">Enroll</a>
			</div>
		</div>

	
	</div>
</section>
<!-- Hero section end -->

<section class="feature-section s">
	<!-- <div class="container d-flex justify-content-center align-items-center mt-1 mb-1">
		<h6 style="margin-top:20px; margin-bottom:20px"> Tools we use and Teach</h6>
	</div> -->
	<div class="container-fluid">
		<div class="section-title text-white">
			<h2 style="color:black; font-size:28px;">Tools We use And Teach</h2>
		</div>
		<div class="row">
			<div class="col-md-1 feature">
				
			
			</div>
			<div class="col-md-1 feature">
				
			
			</div>
			<div class="col-md-1 feature">
				<img src="{% static 'icons/python.svg' %}" alt="#">
				<p>Python</p>
			</div>
			<div class="col-md-1 feature">
				<img src="{% static 'icons/js.svg' %}" alt="#">
				<p>Javascript</p>
			</div>
			<div class="col-md-1 feature">
				<img src="{% static 'icons/csharp.png' %}" alt="#">
				<p>Csharp</p>
			</div>
		
			<div class="col-md-1 feature">
				<img src="{% static 'icons/angular.png' %}" alt="#">
				<p>Angular</p>
			</div>
		
			<div class="col-md-1 feature">
				<img src="{% static 'icons/django.svg' %}" alt="#">
				<p>Django</p>
			</div>

	
			<div class="col-md-1 feature">
				<img src="{% static 'icons/node.png' %}" alt="#">
				<p>Node</p>
			</div>
			<div class="col-md-1 feature">
				<img src="{% static 'icons/mongodb.png' %}" alt="#">
				<p>Mongo Db</p>
			</div>
			<div class="col-md-1 feature">
				<img src="{% static 'icons/postgresql.png' %}" alt="#">
				<p>Postgresql</p>
			</div>
			<div class="col-md-1 feature">
			
			</div>

			<div class="col-md-1 feature">
				
			
			</div>
			<div class="col-md-1 feature">
				
			
			</div>
		
		</div>
	</div>
</section>


<!-- Feature section -->
<section class="pricing-section spad">
	<div class="container-fluid">
		<div class="section-title text-white">
			<h2 style="color:white; font-size:28px;">What we do</h2>
		</div>
		<div class="row">
			<div class="col-md-3 feature">
			
				<img src="{% static 'img/feature-icons/1.png' %}" alt="#">
				<h4>Web Design & Web Apps Development</h4>
				<p class="p">We provide professional Website Design services from single pages to entire corporate websites, we have the experience to deliver real results.
				We build web application like ecommerce web apps etc, that are scalable which makes them convenient as your business grow.	
				</p>

					<div class="clearfix"></div>
					<a href="{% url 'contact' %}" class="site-btn sb-c3 mar">Get in Touch</a>
			</div>

			<div class="col-md-3 feature">
				<img src="{% static 'img/feature-icons/3.png' %}" alt="#">
				<h4>Cloud Services & Web Hosting</h4>
				<p class="p">We offer a complete range of tech consultancy services ranging from data center management, hosting applications, CRM, e-commerce platforms and much much more.</p>

					<div class="clearfix"></div>
					<a href="{% url 'contact' %}" class="site-btn sb-c3 mar">Get in Touch</a>
					
			</div>
			<div class="col-md-3 feature">
				<img src="{% static 'img/feature-icons/2.png' %}" alt="#">
				<h4>Software Development</h4>
				<p class="p">Fully in the art and science of software engineering and management, we help you to build high-quality software solutions and products.

					Whether it's custom software engineering, software testing and quality assurance, system integration, technology consulting, or software support — we got you.
				</p>
				

					
				<div class="clearfix"></div>
				<a href="{% url 'contact' %}" class="site-btn sb-c3 mar">Get in Touch</a>
				
				
					
			</div>


		
			<div class="col-md-3 feature">
				<img src="{% static 'img/feature-icons/3.png' %}" alt="#">
				<h4>Training</h4>
				<p class="p">We beleive in transfer of skills and that is why we started our training Unit, where we provide practical programming courses for entry level freshers and experienced developers.</p>
					<div class="clearfix"></div>
					<a href="{% url 'training' %}" class="site-btn sb-c3 mar">Learn More</a>
			</div>

		
		</div>
	</div>
</section>
<!-- Feature section end -->


	<!-- What section -->
	<section class="what-section feature-section spad set-bg" data-setbg="img/what-bg.jpg">
		<div class="container">
			<div class="section-title text-white">
		
				<h2 style="color:black; font-size:28px;">Our Online Services Catalogue</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="what-card">
						<!-- <img src="{% static 'img/what/1.jpg' %}" alt=""> -->
						<!-- <div class="wc-text">
							<h5>Maridadi</h5>
							<p>Maridadi is a simple idea pioneered by one of our training developers. It is a service that enable anyone to sell, find or buy boutiques, cosmetics etc with ease click <a href="http://maridadi.co.ke">Maridadi</a> to access the service</p>
						</div> -->
					</div>
				</div>
				<div class="col-md-4">
					<div class="what-card">
						<!-- <img src="{% static 'img/what/2.jpg' %}" alt=""> -->
						<!-- <div class="wc-text">
							<h5>Kondisha</h5>
							<p>Kondisha is our saas rental management platform built specifically to enable estate management agencies to fully manage their properties. click <a href="http://kondisha.co.ke">Kondisha</a> to access the service</p>
						</div> -->
					</div>
				</div>
				<div class="col-md-4">
					<div class="what-card">
						<!-- <img src="{% static 'img/what/3.jpg' %}" alt=""> -->
						<!-- <div class="wc-text">
							<h5>Bizhub</h5>
							<p>Bizhub is our saas business platform where we run our own biasharaErp software for different clients. click <a href="http://bizhub.co.ke">Bizhub</a> to access the service</p>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Whatsection end -->


		<!-- What section -->
		<section class="what-section pricing-section spad set-bg" >
			<div class="container">
				<div class="section-title text-white">
			
					<h2 style="color:white; font-size:28px;">Our On Premises Products</h2>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="what-card">
							<!-- <img src="{% static 'img/what/1.jpg' %}" alt=""> -->
							<div class="wc-text">
								<h5>School Management Software</h5>
								<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo.</p>
								<a href="" class="site-btn sb-c3">Learn More</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="what-card">
							<!-- <img src="{% static 'img/what/2.jpg' %}" alt=""> -->
							<div class="wc-text">
								<h5>Rental Management Software</h5>
								<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo.</p>
								<a href="" class="site-btn sb-c3">Learn More</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="what-card">
							<!-- <img src="{% static 'img/what/3.jpg' %}" alt=""> -->
							<div class="wc-text">
								<h5>Point of Sale Erp (BiasaraErp)</h5>
								
								<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo.</p>
							
								<a href="" class="site-btn sb-c3">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- <section class="what-section feature-section spad set-bg" data-setbg="img/what-bg.jpg">
			<div class="container">
				<div class="section-title text-white">
			
					<h2 style="color:black; font-size:28px;">Our Happy Clients</h2>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="what-card">
						
							<div class="wc-text">
								<h5>Web Hosting</h5>
								<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="what-card">
						
							<div class="wc-text">
								<h5>The Business</h5>
								<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="what-card">
							
							<div class="wc-text">
								<h5>The Sollution</h5>
								<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->

{% endblock content %}