{% extends 'main/base.html' %}
{% load static %}


{% block extra_css %}


{% endblock extra_css %}

{% block content %}
	<!-- Page Top section -->
	<section class="page-top-section set-bg" data-setbg="img/page-top-bg/1.jpg">
		<div class="container">
			<h2>Our Products</h2>
		</div>
	</section>
	<!-- Page Top section end -->


	<!-- Services section -->
	<section class="Services-section spad">
		<div class="container">
			<div class="section-title">
				<p>The only ones</p>
				<h2>Our Best Services</h2>
			</div>
			<div class="row services-circle">
				<div class="col-lg-5 col-md-6">
					<ul class="service-list service-list-left">
						<li>
							<div class="sl-icon">
								<img src="img/service-icons/1.png" alt="">
							</div>
							<div class="sl-content">
								<h4>Free Domains</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
							</div>
						</li>
						<li>
							<div class="sl-icon">
								<img src="img/service-icons/2.png" alt="">
							</div>
							<div class="sl-content">
								<h4>Shared Hosting</h4>
								<p>Consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum.</p>
							</div>
						</li>
						<li>
							<div class="sl-icon">
								<img src="img/service-icons/3.png" alt="">
							</div>
							<div class="sl-content">
								<h4>Reseller Hosting</h4>
								<p>Consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-lg-5  col-md-6 offset-lg-2">
					<ul class="service-list service-list-right">
						<li>
							<div class="sl-icon">
								<img src="img/service-icons/4.png" alt="">
							</div>
							<div class="sl-content">
								<h4>Vps Hosting</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
							</div>
						</li>
						<li>
							<div class="sl-icon">
								<img src="img/service-icons/5.png" alt="">
							</div>
							<div class="sl-content">
								<h4>Dedicated Hosting</h4>
								<p>Consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum.</p>
							</div>
						</li>
						<li>
							<div class="sl-icon">
								<img src="img/service-icons/6.png" alt="">
							</div>
							<div class="sl-content">
								<h4>Cloud Hosting</h4>
								<p>Consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="service-main-circle">
					<img src="img/service-circle-pic.png" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->

	
	<!-- Pricing section -->
	<section class="pricing-section spad">
		<div class="container">
			<div class="section-title text-white">
				<p>The only ones</p>
				<h2>Testimonials</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="pricing-card">
						<div class="pc-header">
							<h4>Cloud Hosting</h4>
							<h5>$5.99<span>/month</span></h5>
						</div>
						<div class="pc-details">
							<div class="pc-icon">
								<img src="img/pricing-icons/1.png" alt="#">
							</div>
							<ul>
								<li>10GB File storage</li>
								<li>Unlimited websites</li>
								<li>24/7 Support</li>
								<li>Discount code engine</li>
								<li>All OS Supported</li>
								<li>Snyc Multiple Devices</li>
							</ul>
							<a href="" class="site-btn">Get plan</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pricing-card">
						<div class="pc-header">
							<h4>VPS Hosting</h4>
							<h5>$7.99<span>/month</span></h5>
						</div>
						<div class="pc-details">
							<div class="pc-icon">
								<img src="img/pricing-icons/2.png" alt="#">
							</div>
							<ul>
								<li>10GB File storage</li>
								<li>Unlimited websites</li>
								<li>24/7 Support</li>
								<li>Discount code engine</li>
								<li>All OS Supported</li>
								<li>Snyc Multiple Devices</li>
							</ul>
							<a href="" class="site-btn">Get plan</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pricing-card">
						<div class="pc-header">
							<h4>Dedicated Hosting</h4>
							<h5>$9.99<span>/month</span></h5>
						</div>
						<div class="pc-details">
							<div class="pc-icon">
								<img src="img/pricing-icons/3.png" alt="#">
							</div>
							<ul>
								<li>10GB File storage</li>
								<li>Unlimited websites</li>
								<li>24/7 Support</li>
								<li>Discount code engine</li>
								<li>All OS Supported</li>
								<li>Snyc Multiple Devices</li>
							</ul>
							<a href="" class="site-btn">Get plan</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Pricing end -->


	<!-- Add  section -->
	<div class="add-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 add-pic">
					<a href="#"><img src="img/add.jpg" alt=""></a>
				</div>
				<div class="col-lg-6">
					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibu.</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Ipsum dolor sit amet, consectetur adipiscing elit.</button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header active" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Etiam at nibh non dolor porttitor fermentum eu vel mi.</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Add section end -->

	{% endblock %}