{% extends 'main/base.html' %}
{% load static %}

{% block active_item_products %}
active
{% endblock %}
{% block extra_css %}



{% endblock extra_css %}

{% block content %}
<section class="pricing-section spad">
	<div class="container">
	
		<div class="row">
			
		
		</div>
	</div>
</section>
	<!-- Pricing section -->
	<section class="feature-section spad">
		<div class="container">
			<div class="section-title text-white">
				<p>We are pymont Tech</p>
				<h2 style="color:black; font-size:38px;">Our Products</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="pricing-card">
						<div class="pc-header">
							<h4>School Management Sytem</h4>
						
						</div>
						<div class="pc-details">
							
							<ul>
								<li>Local Installation</li>
								<li>Sas packages </li>
								
							
							</ul>
							<a href="{% url 'contact' %}" class="site-btn">Get in touch</a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="pricing-card">
						<div class="pc-header">
							<h4>Rental Management Sytem</h4>
						
						</div>
						<div class="pc-details">
							
							<ul>
								<li>Local Installation</li>
								<li>Online Service (Sas packages)</li>
								
							
							</ul>
							<a href="{% url 'contact' %}" class="site-btn">Get in touch</a>
						</div>
					</div>
				</div>


				<div class="col-md-4">
					<div class="pricing-card">
						<div class="pc-header">
							<h4>Point of sales Erp system</h4>
						
						</div>
						<div class="pc-details">
							
							<ul>
								<li>Local Installation</li>
								<li>Online Service (Sas package)</li>
								
							
							</ul>
							<a href="{% url 'contact' %}" class="site-btn">Get in touch</a>
						</div>
					</div>
				</div>
			

		
			</div>
		</div>
	</section>
	<!-- Pricing end -->


	<!-- Add  section -->
	
	<!-- Add section end -->

	{% endblock %}
