

{% extends 'main/base.html' %}
{% load static %}

{% block active_item_services %}
active
{% endblock %}
{% block extra_css %}



{% endblock extra_css %}

{% block content %}




	<!-- Services section end -->

	<!-- Pricing end -->
	<section class="pricing-section spad">
		<div class="container">
		
			<div class="row">
				
			
			</div>
		</div>
	</section>

	<!-- Add  section -->
	<div class="feature-section spad">
		<div class="container">

			<div class="section-title">
				<p>We are pymont Tech</p>
				<h2>Our Services</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 add-pic">
					<!-- <a href="#"><img src="{% static 'img/add.jpg' %}" alt=""></a> -->
				</div>
				<div class="col-lg-8">
					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Software Development.</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<!-- <p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibu.</p> -->
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Web Design And Development.</button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p> -->
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header active" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Practical Training.</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p> -->
								</div>
							</div>
						</div>

						<div class="panel">
							<div class="panel-header active" id="headingFour">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">Cloud & Hosting Services</button>
							</div>
							<div id="collapse4" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
								<div class="panel-body">
									<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes.</p> -->
								</div>
							</div>
						</div>


						

					
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Add section end -->

	{% endblock %}