{% extends 'main/base.html' %}
{% load static %}
{% block active_item_training %}
active
{% endblock %}

{% block extra_css %}
<style>
	h4 {
		color: black;
	}
</style>


{% endblock extra_css %}

{% block content %}
<section class="pricing-section spad">
	<div class="container">
	
		<div class="row">
			
		
		</div>
	</div>
</section>
	<!-- Pricing section -->
	<section class="feature-section spad">
		<div class="container">
			<div class="section-title text-white">
				<p>We are pymont Tech</p>
				<h2  style="color:black; font-size:38px;">Our Training Programs</h2>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="pricing-card">
						<div class="pc-header">
							<h4>Personal Training</h4>
							<h6>Level Up Your Skills. Get Hired</h6>
						</div>
						<div class="pc-details d-flex flex-column mt-3">

							<h5>Languages</h5>

							<p>Python, Javascript, CSharp</p>
							<h5>Frameworks</h5>
							<p>Django, Express, .NetCore, Angular</p>


							<h5>Operating Systems</h5>

							<p>Linux</p>
							<a href="{% url 'contact' %}" class="site-btn sb-c3 mar">Get in Touch</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="pricing-card">
						<div class="pc-header">
							<h4>Corporate Training</h4>
							<h6>Your team can be more productive. Equip them.</h6>
						</div>
						<div class="pc-details d-flex flex-column mt-3">

							<h5>Languages</h5>

							<p>Python, Javascript, CSharp</p>
							<h5>Frameworks</h5>
							<p>Django, Express, .NetCore, Angular</p>


							<h5>Operating Systems</h5>

							<p>Linux</p>
							<a href="{% url 'contact' %}" class="site-btn sb-c3 mar">Get in Touch</a>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</section>
	<!-- Pricing end -->


	<!-- Add  section -->

	<!-- Add section end -->

	{% endblock %}