{% extends 'main/base.html' %}
{% load static %}


{% load crispy_forms_tags %}


{% block extra_css %}

<style>

    h4 {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 50px;
    
    }
    .form {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
</style>

{% endblock extra_css %}


{% block content %}


<div class="container-fluid">

    <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 col-8 d-flex justify-content-center align-items-center flex-column">

          

            <form class="form d-flex  " role="form" action="/login" method="post">  
                {% csrf_token  %}
                <h4>Login</h4>
                <div class="form-group">
                    <label> Phone Number</label>
                    <input type="text" name="phone_number" placeholder="Phone Number" class="form-control">
                </div>

                
                <div class="form-group">
                    <label> Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>


                
                <div class="form-group">
                    <button class="btn btn-primary" type="submit"> Login </button>
                </div>
            </form>

        </div>
    </div>
</div>


{% endblock content %}