{% extends 'main/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block extra_css %}

<style>
    h4 {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .form {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
</style>

{% endblock extra_css %}


{% block content %}


<div class="container-fluid">

    <div class="row d-flex justify-content-center mt-5">
        <div
            class="col-lg-5 col-md-6 col-sm-8 col-xs-10 col-8 d-flex justify-content-center align-items-center flex-column">



            <form class="form d-flex align0items-center mt-5" role="form" action="/signup" method="post">
                {% csrf_token  %}
                <h3>Update Profile</h3>
             
                {% crispy form %}

                <div class="form-group">
                    <button class="btn btn-success" type="submit"> Update </button>
                </div>

              

                {% if messages %}
                <div class="card messages alert alert-danger">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </form>

        </div>




        <div
            class="col-lg-5 col-md-6 col-sm-8 col-xs-10 col-8 d-flex justify-content-center align-items-center flex-column">

            <form class="form d-flex align0items-center mt-5" role="form" action="/profile" method="post">
                {% csrf_token  %}
                <h3>Change Password</h3>
            
                
                {% crispy password_form %}


                <div class="form-group">
                    <button class="btn btn-success" type="submit"> Change Password </button>
                </div>

                {% if messages %}
                <div class="card messages alert alert-danger">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </form>

        </div>
    </div>
</div>


{% endblock content %}