{% extends 'main/base.html' %}
{% load static %}


{% load crispy_forms_tags %}
{% block extra_css %}

<style>
    h4 {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .form {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
</style>

{% endblock extra_css %}


{% block content %}


<div class="container-fluid">

    <div class="row d-flex justify-content-center">
        <div
            class="col-lg-4 col-md-6 col-sm-8 col-xs-10 col-8 d-flex justify-content-center align-items-center flex-column">


            <form class="form d-flex align0items-center" role="form" action="/signup" method="post" enctype="multipart/form-data"> 
                {% csrf_token  %}
                <h4>Signup</h4>


                {% crispy form %}

        
        

                {% if messages %}
                <div class="card messages alert alert-danger">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </form>

        </div>
    </div>
</div>


{% endblock content %}